*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
body{
  background-color: #1A0B2E;
}
/* header-section */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1A0B2E;
  border-bottom: 1px solid blue;
  padding: 16px 200px;
}
.logo{
  max-width: 220px;
  height: 32px;
}
.navbar ul{
  display: flex;
  gap: 32px;
}
.navbar ul li{
  list-style: none;
}
.navbar ul li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  color: #FFFFFF;
}
.btn{
  padding: 12px 16px;
  border: none;
  border-radius: 10000px;
  font-size: 16px;
  font-weight: 600;
  line-height: auto;
  color: #FFFFFF;
  background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
  cursor: pointer;
}
.menu{
  display: none;
}