*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
/* body{
  background-color: #1A0B2E;
} */
/* header-section */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1A0B2E;
  border-bottom: 1px solid blue;
  padding: 16px 100px;
}
.logo img{
  width: 200px;
  height: 30px;
}
.navbar ul{
  display: flex;
  gap: 32px;
}
.navbar ul li{
  list-style: none;
}
.navbar ul li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  color: #FFFFFF;
}
.btn{
  padding: 12px 16px;
  border: none;
  border-radius: 10000px;
  font-size: 16px;
  font-weight: 600;
  line-height: auto;
  color: #FFFFFF;
  background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
  cursor: pointer;
}
.btn:hover{
    background-color: gold;
    transform: translateY(-3px);
    opacity: 0.9;
}
.menu{
  display: none;
}
/* section-01 */
.section-01 {
    background-color: #1A0B2E;
    padding: 80px 0;
    text-align: center;
}
.visual-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    height: 250px;
}
.wave-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('images/hero-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 1;
    opacity: 0.8;
}
.mic-glow-bg {
    position: relative;
    z-index: 2;
    width: 220px;
    height: 220px;
    background-image: url('images/hero-circle.png');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 30px rgba(255, 0, 255, 0.3);
}
.mic-icon {
    width: 80px;
    z-index: 3;
}
.badge-new {
    position: absolute;
    top: 15px;
    right: 5px;
    background: #00ff88;
    color: #1A0B2E;
    padding: 3px 10px;
    border-radius: 10000px;
    font-size: 14px;
    font-weight: 600;
    z-index: 4;
}
.hero-content h1 {
    font-size: 60px;
    font-weight: 800;
    line-height: auto;
    margin-bottom: 10px;
    color: #FFFFFF;
}
.hero-content p {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    max-width: 500px;
    margin: 0 auto 30px;
}
.hero-btns {
    display: flex;
    justify-content: center;
    gap: 25px;
}
.btns {
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.3s;
}
.btn-spotify {
    background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
    color: #FFFFFF;
}
.btn-subscribe {
    border: 1px solid #00FF88;
    color: #00FF88;
    background: transparent;
}
.btns:hover {
    background-color: gold;
    transform: translateY(-3px);
    opacity: 0.9;
}
/* .section-02 */
.section-02{
  background-color: #1A0B2E;
  padding: 50px 100px 120px 100px;
  text-align: center;
}
.podcast{
  padding-bottom: 80px;
}
.podcast h3{
font-size: 48px;
font-weight: bold;
line-height: auto;
color: #FFFFFF;
margin-bottom: 16px;
}
.podcast p{
display: inline;
font-size: 16px;
font-weight: 400;
line-height: 20px;
color: #FFFFFF;
}
.grid-box{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  border-top: 1px solid #ffffff33;
  padding-top: 80px;
  gap: 20px;
}
.card h3{
  font-size: 48px;
  font-weight: bold;
  line-height: auto;
  color: #00FF88;
  margin-bottom: 8px;
}
.card p{
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #FFFFFF;
}
/* section-04 */
.section-04{
  padding: 100px;
  background-color: #1A0B2E;
}
.section-04 h3{
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  line-height: auto;
  color: #FFFFFF;
  margin-bottom: 40px;
}
.iframe{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 15px;
}
.description{
  border: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #250D44;
  width: 270px;
  height: 245px;
  padding: 8px;
  padding-right: 40px;
  margin-top: -5px;
}
.description h4{
  font-size: 24px;
  font-weight: bold;
  line-height: auto;
  color: #FFFFFF;
}
.description p{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #FFFFFF;
  text-align: justify;
  margin: 10px 0;
}
.description h5{
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #00FF88;
}
