@media screen and (max-width:576px) {
  .navbar{
  padding: 10px 20px;
}
.logo img{
  max-width: 170px;
  height: 30px;
}
.navbar ul{
  display: none;
}
.btn{
  display: none;
}
.menu{
  display: inline;
  cursor: pointer;
}
/* section-01 */
.section-01 {
    padding: 40px 20px;
}
.mic-glow-bg {
    width: 180px;
    height: 180px;
}
.mic-icon {
    width: 65px;
}
.hero-content h1 {
    font-size: 38px;
}
.hero-content p {
    font-size: 14px;
}
.btns {
    padding: 7px 8px;
    font-size: 13px;
}
/* .section-02 */
.section-02{
  padding: 20px;
  text-align: center;
}
.podcast{
  padding-bottom: 40px;
}
.podcast h3{
font-size: 36px;
}
.podcast p{
font-size: 15px;
}
.grid-box{
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding-top: 40px;
}
.card h3{
  font-size: 42px;
}
.card p{
  font-size: 15px;
}
/* section-03 */
.section-03 {
    padding: 20px;
}
    .grid-wrapper {
        grid-template-areas: 
            "premium"
            "mobile"
            "global"
            "interview"
            "resources";
        grid-template-columns: repeat(1, 1fr);
    }
    .title {
        font-size: 28px;
        margin-bottom: 30px;
    }
    .cards {
    padding: 20px;
}
.icon {
    font-size: 50px;
}
.cards h3 {
    font-size: 22px;
}
.cards p {
    font-size: 14px;
}

/* section-04 */
.section-04{
  padding: 20px;
}
.section-04 h3{
  font-size: 33px;
  margin-bottom: 30px;
}

.iframe{
  flex-direction: column;
  gap: 50px;
}
.description h4{
  font-size: 20px;
  font-weight: bold;
  line-height: auto;
  color: #FFFFFF;
}
.description p{
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #FFFFFF;
  text-align: justify;
  margin: 10px 0;
}
.description h5{
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  color: #00FF88;
}

/* section-05 */
.section-05{
padding: 20px;
}
.section-05 h3{
  font-size: 38px;
  margin-bottom: 30px;
}
.footer-section p{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.meet-host{
  flex-direction: column;
  padding: 25px 20px;
  text-align: center;
}
.host h4{
  font-size: 28px;
}
.host p{
  font-size: 14px;
  line-height: 20px;
}
.host-logo{
  justify-content: center;
}
.host-logo img{
  padding: 3px;
}
/* footer-section */
.footer-section{
  padding: 50px 20px;
  background-image: url(images/footer-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
.footer-icon{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}
.footer-logo img{
  width: 200px;
}
.footer-icon a{
  font-size: 14px;
}
.footer-section p{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 30px;
  color: #FFFFFF;
}
}