@media screen and (max-width:576px) {
  /* header-section */
  .navbar{
  padding: 20px 20px 10px 20px;
}
.logo img{
  max-width: 170px;
  height: 30px;
}
.navbar ul{
  display: none;
}
.btn{
  display: none;
}
.menu{
  display: inline;
  cursor: pointer;
}
/* section-01 */
.section-01 {
  padding: 60px 20px;
}
.mic-glow-bg {
    width: 180px;
    height: 180px;
}
.badge-new {
    top: 15px;
    right: -3px;
}
.mic-icon {
    width: 65px;
}
.hero-content h1 {
    font-size: 40px;
}
.hero-content p {
    font-size: 15px;
}
.hero-btns {
  flex-wrap: wrap;
    gap: 30px;
}
.btns {
    padding: 8px 13px;
    font-size: 15px;
}
/* .section-02 */
.section-02{
  padding: 20px;
}
.podcast{
  padding-bottom: 40px;
}
.podcast h3{
font-size: 32px;
}
.podcast p{
font-size: 15px;
}
.grid-box{
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding-top: 40px;
}
.card h3{
  font-size: 40px;
}
.card p{
  font-size: 13px;
}
/* section-03 */
.section-03 {
    padding: 20px;
}
    .grid-wrapper {
        grid-template-areas: 
            "premium"
            "mobile"
            "global"
            "interview"
            "resources";
        grid-template-columns: repeat(1, 1fr);
    }
    .title {
        font-size: 32px;
        margin-bottom: 30px;
    }
    .cards {
    padding: 20px;
}
.icon {
    font-size: 50px;
}
.cards h3 {
    font-size: 22px;
}
.cards p {
    font-size: 15px;
}
/* section-04 */
.section-04{
  padding: 20px;
}
.section-04 h3{
  font-size: 32px;
  margin-bottom: 30px;
}
iframe{
  max-width: 300px;
  height: 190px;
}
.iframe{
  flex-direction: column;
  gap: 50px;
}
.description{
  width: 299px;
  height: 170px;
  padding: 10px;
}
.description h4{
  font-size: 20px;
}
.description p{
  font-size: 14px;
  line-height: 20px;
}
.description h5{
  font-size: 16px;
  line-height: 20px;
}
/* section-05 */
.section-05{
padding: 20px;
}
.section-05 h3{
  font-size: 32px;
  margin-bottom: 30px;
}
.meet-host{
  flex-direction: column;
  padding: 25px 20px;
  text-align: center;
}
.host h4{
  font-size: 24px;
}
.host p{
  font-size: 15px;
  line-height: 20px;
}
.host-logo{
  justify-content: center;
}
.child-logo{
  padding-left: 0px;
  padding-top: 10px;
}
/* footer-section */
.footer-section{
  background-image: url(images/Image.png);
  padding: 30px 20px 60px 20px;
}
.footer-icon{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5px;
}
.footer-logo img{
  width: 220px;
}
.footer-icon a{
  font-size: 14px;
}
.footer-section p{
  font-size: 14px;
  margin-top: 40px;
}
}