@media screen and (max-width:576px) {
  .navbar{
  padding: 10px 20px;
}
.logo img{
  max-width: 170px;
  height: 30px;
}
.navbar ul{
  display: none;
}
.btn{
  display: none;
}
.menu{
  display: inline;
  cursor: pointer;
}
/* section-01 */
.section-01 {
    padding: 40px 20px;
}
.mic-glow-bg {
    width: 200px;
    height: 200px;
}
.mic-icon {
    width: 70px;
}
.hero-content h1 {
    font-size: 38px;
}
.hero-content p {
    font-size: 14px;
}
.btns {
    padding: 7px 8px;
    font-size: 13px;
}
/* .section-02 */
.section-02{
  padding: 20px;
  text-align: center;
}
.podcast{
  padding-bottom: 40px;
}
.podcast h3{
font-size: 36px;
}
.podcast p{
font-size: 15px;
}
.grid-box{
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding-top: 40px;
}
.card h3{
  font-size: 42px;
}
.card p{
  font-size: 15px;
}
}